ADMIN_ROOT_NAME="Admin"
ADMIN_ROOT_EMAIL="admin@example.com"
ADMIN_ROOT_PASSWORD="admin123"

# Database
DATABASE_NAME=pantore_dev
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_HOST=localhost
DATABASE_PORT=5432

DATABASE_URL=postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}


